Click==7.0
Flask==1.0.3
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.4
astroid==2.2.5
colorama==0.4.1
isort==4.3.20
itsdangerous==1.1.0
lazy-object-proxy==1.4.1
mccabe==0.6.1
pylint==2.3.1
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.6.0
virtualenvwrapper-win==1.2.5
wrapt==1.11.1
